.git/
.gitignore
.dockerignore
Dockerfile.dockerignore

.env
.env.*

/woodgate
/.air/
/bin/
/build/
/tmp/
/.gocache/
*.log

app/.build/
app/.swiftpm/
web/node_modules/
web/dist/
web/.vite/
web/*.tsbuildinfo
web/vite.config.js
web/vite.config.d.ts

.DS_Store
