WOODGATE_PORT=8080
WOODGATE_BASE_URL=http://localhost:8080
WOODGATE_MEDIA_ROOT=/media
LOG_LEVEL=info

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=woodgate
DATABASE_SSLMODE=disable

JWT_SECRET=
LOCAL_ADMIN_PASSWORD=

ENTRA_TENANT_ID=
ENTRA_CLIENT_ID=
ENTRA_CLIENT_SECRET=
ENTRA_SYNC_ENABLED=false
ENTRA_SYNC_INTERVAL=24h
