# Go
/woodgate
/.air/
*.test
go.work
go.work.sum

# Node.js
node_modules/
/web/dist/*
!/web/dist/.gitkeep
/mock/dist/
/mock/.wrangler/

# Xcode
xcuserdata/

# Local data
/.local/
/data/

# Local configuration
.env
.env.*
!.env.example
/media/

# Local Mise
.mise.local.toml
.mise.local.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
